{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="max-w-[80rem] mx-auto bg-zinc-800/80 rounded-xl p-8 mt-8 mb-12 shadow-lg">

    <h2 class="text-4xl font-bold text-center mb-8">👤 Profile</h2>

    <div class="flex flex-col items-center gap-6">

        <div class="w-32 h-32 rounded-full bg-zinc-900 flex items-center justify-center text-5xl">
            {{ user.username|first|upper }}
        </div>

        <div class="text-center">
            <p class="text-2xl font-semibold">{{ user.username }}</p>
            <p class="text-zinc-400">{{ user.email }}</p>
        </div>


        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="bg-red-600 text-white px-10 py-4 rounded-xl text-lg font-semibold transition hover:opacity-80">
            <!--Сейчас всё ещё logout, но надо сделать, ибо выход на главной странице смотрится хуево. Сделаем там, где будет смена авы-->
                Settings
            </button>
        </form>

    </div>

</div>
{% endblock %}
