{% extends 'base.html' %}
{% load static %}

{% block title %}Steins Gate 0{% endblock %}

{% block content %}

{% include 'includes/_anime_descriptions.html' %}

{% include 'includes/_switchers.html' %}

<div class="flex justify-center items-center">
  <div id="player-main" class="player active">
    <iframe src="https://www.anilibria.tv/public/iframe.php?id=6140" width="1280" height="720" allowfullscreen=""></iframe>
  </div>

  <div id="player-backup" class="player">
    <iframe src="//kodik.info/serial/10115/68d9f5d02225e165c1e650faecfaa3d8/720p?translations=false" width="1280" height="720" allowfullscreen=""></iframe>
  </div>
</div>

{% include 'includes/_animes_questions.html' %}

{% include 'includes/_anime_comments.html' %}

{% endblock %}
