{% extends 'base.html' %}
{% load static %}

{% block title %}Steins Gate{% endblock %}

{% block content %}

{% include 'includes/_anime_descriptions.html' %}

{% include 'includes/_switchers.html' %}

<div class="flex justify-center items-center">
  <div id="player-main" class="player active">
    <iframe src="https://www.anilibria.tv/public/iframe.php?id=8674" width="1280" height="720" allowfullscreen=""></iframe>
  </div>

  <div id="player-backup" class="player">
    <iframe src="//aniqit.com/serial/27423/9bc813cf9293f1305ce036b03845618a/720p?translations=false" width="1280" height="720" allowfullscreen=""></iframe>
  </div>
</div>

{% include 'includes/_animes_questions.html' %}

{% include 'includes/_anime_comments.html' %}

{% endblock %}
