{% extends 'base.html' %}
{% load static %}

{% block title %}Steins Gate 0{% endblock %}

{% block content %}

{% include 'includes/_anime_descriptions.html' %}

<div class="relative w-[1280px] mx-auto mb-2 select-none">

  <div id="player-indicator" class="absolute top-0 left-0 w-1/2 h-full bg-red-600 rounded-t-lg transition-transform duration-300 ease-out"></div>

  <div class="relative flex text-center text-lg font-medium">
    <button id="btn-main" class="w-1/2 py-3 z-10">Плеер 1</button>
    <button id="btn-backup" class="w-1/2 py-3 z-10">Плеер 2</button>
  </div>

</div>

<div class="flex justify-center items-center">
  <div id="player-main" class="player active">
    <iframe src="https://www.anilibria.tv/public/iframe.php?id=6140" width="1280" height="720" allowfullscreen=""></iframe>
  </div>

  <div id="player-backup" class="player">
    <iframe src="//kodik.info/serial/10115/68d9f5d02225e165c1e650faecfaa3d8/720p?translations=false" width="1280" height="720" allowfullscreen=""></iframe>
  </div>
</div>

{% include 'includes/_animes_questions.html' %}

{% include 'includes/_anime_comments.html' %}

{% endblock %}
