.player {
    display: none;
}

.player.active {
    display: block;
}

.player-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.player-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

